.btn{
    font-size: $font-size-base;
    font-weight: $font-weight-semi;
    @include roundedCorners(10);
    position: relative;
    color: $white;
    transition: all 0.3s ease; 
    outline: none;
    cursor: pointer;
    z-index: 1;
    border: 0;
    padding: 6px 20px;

    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;        
        @include roundedCorners(10);
        transition: all 0.3s ease;
    }

    &:hover{
        color: $white;
        &::after{
            width: 100%;
        }
    }


     &.btn-congi-green{
        @include customButton($darkGreen);

        &::after{
                background-color: rgba( 39, 126, 41, 0.4);
        }
    }

    &.btn-congi-orange{
        @include customButton($orange);

        &::after{
                background-color: rgba( 232, 161, 13, 0.4);
        }
    }
}