/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 * See http://modularscale.com for
 *
 */


/**
 * Paragraphs
 */
p {
	font-family: $font-family-base;
    font-size: $font-size-base;
	margin-top: 0;
    margin-bottom: calc(#{$baseline} - #{4px});
    line-height: $baseline;
    

	// Measure - ideally about 65 chars per line
	// max-width: #{type(base) * 30}px;

    &.big{
        font-size: $font-size-base1;
    }
}

/**
 * anchor
 */
 a{
	position: relative;
	color: inherit;
	text-decoration: none;
	line-height: 24px;
	display: inline-flex;
	padding-bottom: 5px;
	overflow: hidden;

	&::after,
	&::before{
		content: '';
		position: absolute;
		transition: transform .5s ease;
	}

	&::before{
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;		
		transform: translateX(-100%);
	}
	&:hover{
		color:$black;
		&::before{
			transform: translateX(0);
		}
	}
 }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family:$font-family-base;    
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	margin-top: 0;
	margin-bottom: $space20;

	small {
		font-weight: normal;
	}
}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1,
.h1,
.alpha {
    font-size: $font-size-h1;
    line-height: $line-height-headings;
    font-weight: $font-weight-semi;
}

h2,
.h2,
.beta {
	font-size: $font-size-h1;
    line-height: $line-height-headings;
    font-weight: $font-weight-medium;
}

h3,
.h3,
.gamma {
	font-size: $font-size-h2;
    line-height: calc(#{$line-height-headings} - #{4px});
    font-weight: $font-weight-semi;
}

h4,
.h4,
.delta {
	font-size: $font-size-h2;
    line-height: calc(#{$line-height-headings} - #{4px});
    font-weight: $font-weight-medium
}

h5,
.h5,
.epsilon,
h6,
.h6,
.zeta {
	font-size: $font-size-h5;
    line-height: $line-height-basic;
    font-weight: $font-weight-semi
}

// Only give these headings a margin-top if they are after other elements
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
	margin-top: $baseline;
}

small {
	font-size: 80%;
}

/**
 * Miscellaneous
 */

// Emphasis
strong,
b {
	font-weight: $font-weight-bold;
}

em,
i {
	font-style: italic;
}

// Abbreviations and acronyms
abbr[title] {
	border-bottom: 1px dotted #ddd;
	cursor: help;
}

/**
 * Blockquotes
 */
blockquote {
	padding-left: 10px;
	margin: $baseline;
	border-left: 4px solid lighten(#000, 80%);

	p {
		margin-bottom: 0;
        font-size: $font-size-base;
		font-weight: $font-weight-normal;
	}

	small {
		display: block;
		color: lighten(#000, 70%);

		&::before {
			content: '\2014 \00A0';
		}
	}
}

// Quotes
q,
blockquote {
	&::before,
	&::after {
		content: "";
	}
}

cite {
	font-style: normal;
}

// Addresses styling not present in S5, Chrome
dfn {
	font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
	padding: 2px 4px;
	border-radius: 3px;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


/**
 * Utilities
 */
.text-centre, // British or US English spellings..
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

// Horizontal rules
hr {
	margin: ($baseline) 0;
	border: 0;
	height: 1px;
	background-color: $hr-color;
}

.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}