@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,600;1,700&display=swap');

// -----------------------------------------
	// Layout Sizes
// -----------------------------------------
$maxWidth: 1250;

// -----------------------------------------
	// color variables
// -------------------------------------------
// greens
$darkGreen: #65952d;
$lightGreen: #dbedcd;

// blues
$blue: #4dbdcb;
$darkBlue: #568387;
$lightBlue: #aad8dd;

// greys
$grey: #696969;
$lightGrey: #cccccc;
$lightGreyBG: #f9f9f9;
$darkGrey: #333333;
$mediumGrey: #8f9499;

// -----------------------------------------
	// Fonts
// -------------------------------------------
$webfont: 'webfont', Helvetica, Arial, sans-serif;
$webfont_bold: 'webfont_bold', Helvetica, Arial, sans-serif;
$webfont_light: 'webfont_light', Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$montserrat:'Montserrat';

// -----------------------------------------
	// Font Sizes
// -------------------------------------------
$regularSize:16;
$productHeading:28;
$productBannerHeading:25;