header{
    .top-header{
        padding: $space15 0;
        .contact-info{
            ul{
                color: $white;
                @include mobile-device{
                    text-align: center;
                }
                li{
                    font-size: $font-size-base;
                    font-weight: $font-weight-medium;
                    line-height: $line-height-basic;
                    color: $white;
                    display: inline-block;
                    padding: 0px $space10;

                    

                    @include tablet-device{
                        font-size: $font-size-xs +1;
                    }
                    @include mobile-device{
                         font-size: $font-size-xs;
                         padding: 0px 10px;
                    }

                    &:first-child{
                        padding-left: 0;
                        @include mobile-device{
                             padding-left: $space10;
                        }
                       
                    }
                    &:last-child{
                        padding-right: 0;
                        border-right: 0;
                    }

                    a{
                        color: $white;
                        text-decoration: none;

                        &:hover{
                            &::before{
                            background: $white;
                        }
                        }
                    }
                }
            }
        }

        .social-info{
            text-align: right;

            .social-icon{
                float: right;
                li{
                    display: inline-block;
                    padding-left: $space10;

                    a{
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }

            #language-selector{
                background: transparent;
                border: 0;
                color: $white;
                outline: 0;
                cursor: pointer;
                margin-right: $space10;
            }
        }
    }

    .nav-section{
        background: $white;
        width: 100%;
        display: inline-block;
        @include roundedCorners(10);
        padding:12px $space20;   
        

        @include desktop-device{
           display: flex;
           align-items: center;
        }
        
        .logo{
            width: 28%;
             @include tablet-device{
                 width: 50%;
                 float: left;
             }
        }
        .nav-bar-section{
            width: 58%;

            @include tablet-device{
                 width: 50%;
                 float: right;
                 text-align: right;
             }

             .navbar{


                 @include tablet-device{
                     float: right;
                 }
                 @include mobile-device{
                    position: inherit;
                    

                        .navbar-collapse {
                            position: fixed;
                            top: 0px;
                            left: 0;
                            padding: 25px 0px;
                            width: 100%;
                            height: 100vh;
                            background:$white;
                            z-index: 9999;

                            .navbar-nav{
                                text-align: left;
                                padding: 0px 25px;

                                li{
                                    padding: 0px 0px 15px;
                                }
                            }

                            @include mobile-device{
                                .nav-header{
                                    width: 100%;
                                    display: inline-block;
                                    padding: 0px 25px 15px;
                                    border-bottom: 1px #CCCCCC solid;
                                    margin-bottom: 30px;
                                    float: left;

                                    .nav-logo{
                                        float: left;
                                    }
                                    .navbar-toggler{
                                        float: right;
                                        width: 20px;
                                        height: 20px;
                                        margin-top: 8px;

                                        img{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            
                        }

                        .navbar-collapse.collapsing {
                            left: -75%;
                            transition: height 0s ease;
                        }

                        .navbar-collapse.show {
                            left: 0;
                            transition: left 300ms ease-in-out;
                        }

                        .navbar-toggler.collapsed ~ .navbar-collapse {
                            transition: left 500ms ease-in-out;
                        }
                 }

                 .navbar-toggler{
                     border: 0;
                     padding: 0;
                     outline: 0;
                    box-shadow: none;

                    
                 }
             }

            ul{
                li.nav-item{
                    display: inline-block;
                    font-size: $font-size-base1;
                    font-weight: $font-weight-medium;
                    padding: 0px 29px;
                    line-height: $line-height-basic;

                    &:first-child{
                        padding-left: 0;                        
                    }
                    &.dropdown{                        
                        &:hover{
                            .dropdown-menu{
                                 @include desktop-device{
                                    display: block;
                                 }
                            }
                        }

                        .dropdown-menu{
                            padding: 0;

                            @include mobile-device{
                                border: 0;
                                border-bottom: 1px #ccc solid;
                                margin-top: 20px;
                                padding-left: 20px;
                                border-radius: 0;
                            }

                            .dropdown-item{
                                padding: 10px;
                                @include mobile-device{
                                    padding: 0px 0px 0px 30px;
                                    line-height: 18px;

                                    &::after{
                                       content: ' ';
                                        background: url('#{$img-path}/nav-arrow.png') 0 0 no-repeat;
                                        width: 13px;
                                        height: 13px;
                                        position: absolute;
                                        left: 0;
                                        top: 2px;
                                        transition: transform .5s ease;
                                    }
                                }
                            }
                        }
                    }

                    a.nav-link{
                        color: $brown;
                        display: block;
                        padding: 0;

                        @include mobile-device{
                            text-transform: uppercase;

                            &::after{
                                 content: '';
                                width: 21px;
                                height: 14px;
                                background: url('#{$img-path}/service-arrow.png') 0 0 no-repeat;
                                position: absolute;
                                right: 0px;
                            }

                        &.dropdown-toggle{
                            &::after{
                                border-top: 0 solid;
                                border-right: 0 solid transparent;
                                border-bottom: 0;
                                border-left: 0 solid transparent;
                            }
                        }

                            
                        }

                        &::before{
                            @include tablet-min-device {
                                 background: $brown;
                            }
                           
                        }


                    }
                }
            }
        }
        .request-btn{
            width: 14%;
        }

    }
    
}